* {
  box-sizing: border-box;
}
a {
    color:#555555;
}
a, a:hover {
  text-decoration:none;
}
section {
  width:33%;
  padding:2rem 1rem;
  float:left;
  font-family: Helvetica, Arial, sans-serif;
}
section:last-child {
  clear:both;
}
section img {
  margin:0 auto;
  display:block;
  width:25%;
  max-width:4rem;
}
.ratings {
  display:block;
  margin-top:1rem;
}
.item-name, .button {
  font-family: 'Yanone Kaffeesatz', 'Arial Narrow', sans-serif;
  font-weight:400;
}
.item-name {
  font-size:1.3rem;
  margin:1rem 0;
  transition:color 300ms;
}
a:hover .item-name {
  color:steelblue;
}
.item-price {
  font-size:1rem;
  margin:0 0 1.5rem;
}
.sale-price:before, .regular-price:before {
  content:"$";
}
.sale-price, .sale-comment {
  display:none;
}
.sale-price {
  color:#c00;
  margin-right:.5rem;
  float:left;
}
.sale-comment {
  font-weight:300;
  margin-top:.5rem;
  font-style:italic;
}
.on-sale .sale-price, .on-sale .sale-comment {
  display:block;
}
.on-sale .regular-price {
  text-decoration:line-through;
  float:left;
  margin-right:1rem;
}
.button {
  font-size:1.2rem;
  padding:.5rem 1rem;
  border:1px solid #333333;
  text-align:center;
  display:inline-block;
  transition:background 300ms, color 300ms, border-color 200ms;
}
.button:hover  {
  background:steelblue;
  color:white;
  border-color:white;
}